In [98]:
# Session 18 - Statistics--4 by Sreedhara Jagatagar  Sreenivasa

#Problem Statement 1: 
#Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report 
#the highest education level they obtained. The data that resulted from the survey is summarized in the following table: 
#      High School    Bachelors   Masters   Ph.d.   Total 
#Female 60             54          46        41      201 
#Male   40             44          53        57      194 
# 
#Total  100            98          99        98      395 
#Question:  Are gender and education level dependent at 5% level of significance?  
#In other words, given the data collected above, is there a relationship between the gender of an individual 
#and the level of education that they have obtained?  

import numpy as np
import scipy.stats as sci
import pandas as pd
import matplotlib.pyplot as plt

#Prepare Array
female_array=np.array([60,54,46,41])
male_array=np.array([40,44,53,57])
education_level=['High School','Bachelors','Masters','PHD']

#define Pandadata set
df_edu_level=pd.DataFrame({'Edcuation_level':education_level,'Male_Count':male_array,'Female_count':female_array})

#Add additional field, Calculate and update the mean, std deviation, z score, and P Values at the Data Frame.
df_edu_level['Male_Mean']=male_array.mean()
df_edu_level['Female_Mean']=female_array.mean()
df_edu_level['male_std_dev']=male_array.std()
df_edu_level['Female_std_dev']=female_array.std()
df_edu_level['Female_zscore']=sci.zscore(female_array)
df_edu_level['Male_zscore']=sci.zscore(male_array)
df_edu_level['Female_pvalue']=[sci.norm.cdf(pval) for pval in sci.zscore(female_array)]
df_edu_level['male_pvalue']=[sci.norm.cdf(pval) for pval in sci.zscore(male_array )]

In [87]:
#Print the Data Frame
df_edu_level

,Edcuation_level,Male_Count,Female_count,Male_Mean,Female_Mean,male_std_dev,Female_std_dev,Female_zscore,Male_zscore,Female_pvalue,male_pvalue
0,High School,40,60,48.5,50.25,6.800735,7.292976,1.336903,-1.249865,0.909373,0.105674
1,Bachelors,44,54,48.5,50.25,6.800735,7.292976,0.514193,-0.661693,0.696442,0.254084
2,Masters,53,46,48.5,50.25,6.800735,7.292976,-0.582752,0.661693,0.280030,0.745916
3,PHD,57,41,48.5,50.25,6.800735,7.292976,-1.268344,1.249865,0.102338,0.894326

In [99]:
print('1. Below male and Female P values   clearly shows there is clear relationship among Gender and Education level which is visible more than 5%')
print('2. Female populations is more at lower education like High School and Bachelors')
print('3. Female populations is less at higher education like Masters and PHD')
print('4. Male populations is less at lower education like High School and Bachelors')
print('3. Male populations is more at higher education like Masters and PHD')

df_edu_level.loc[(df_edu_level.Edcuation_level==df_edu_level.Edcuation_level),['Edcuation_level','Female_zscore','Female_pvalue','Male_zscore','male_pvalue']]

1. Below male and Female P values   clearly shows there is clear relationship among Gender and Education level which is visible more than 5%
2. Female populations is more at lower education like High School and Bachelors
3. Female populations is less at higher education like Masters and PHD
4. Male populations is less at lower education like High School and Bachelors
3. Male populations is more at higher education like Masters and PHD

  Edcuation_level  Female_zscore  Female_pvalue  Male_zscore  male_pvalue
0     High School       1.336903       0.909373    -1.249865     0.105674
1       Bachelors       0.514193       0.696442    -0.661693     0.254084
2         Masters      -0.582752       0.280030     0.661693     0.745916
3             PHD      -1.268344       0.102338     1.249865     0.894326

In [100]:
# Session 18 - Statistics--4 by Sreedhara Jagatagar  Sreenivasa

#Problem Statement 2: 
#Using the following data, perform a oneway analysis of variance using Î±=.05. Write up the results in APA format. 
#[Group1: 51, 45, 33, 45, 67] 
#[Group2: 23, 43, 23, 43, 45]
#[Group3: 56, 76, 74, 87, 56] 
 
group1=np.array([51, 45, 33, 45, 67])
group2=np.array([23, 43, 23, 43, 45])
group3=np.array([56, 76, 74, 87, 56])
alpha=0.05

print ('Group 1',group1)
print ('Group 2',group2)
print ('Group 1',group3)
print(' ')

print('Using One Way Test')
print('Use sci.f_oneway(group1,group2,group3)built-in function')
print(sci.f_oneway(group1,group2,group3)) # P Value and F Test value is different as Papulation Mean are different
pvalues=sci.f_oneway(group1,group2,group3).pvalue
Fvalues=sci.f_oneway(group1,group2,group3).statistic
print('Pvalues :{} and Fvalue: {}'.format(pvalues,Fvalues))

print(' ')  

if pvalues > alpha:
    print('Reject Null Hypothesis that Group1=Group2=Group3')
else:    
    print('As per P Values which is less than 0.05, Accept the Null Hypothesis that Group1=Group2=Group3')
    print('APA writeup', 'F value =9.75, p value <0.05')

print(' ')

Group 1 [51 45 33 45 67]
Group 2 [23 43 23 43 45]
Group 1 [56 76 74 87 56]

Using One Way Test
Use sci.f_oneway(group1,group2,group3)built-in function
F_onewayResult(statistic=9.747205503009463, pvalue=0.0030597541434430556)
Pvalues :0.0030597541434430556 and Fvalue: 9.747205503009463

As per P Values which is less than 0.05, Accept the Null Hypothesis that Group1=Group2=Group3
APA writeup F value =9.75, p value <0.05

In [101]:
# Session 18 - Statistics--4 by Sreedhara Jagatagar  Sreenivasa

#Problem Statement 3: 
#Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.  
#For 10, 20, 30, 40, 50: 


first_set=np.array([10,20,30,40,50])
second_Set=np.array([5,10,15, 20, 25])
#First Set
print('First Set :',first_set)
print('Mean First Set :',first_set.mean())
print('Variance of First Set : ',first_set.var())
print('Standard Variance of First set :',first_set.std())
print(' ')

#Second Set
print('Second Set :',second_Set)
print('Mean Second Set :',second_Set.mean())
print('Variance of Second Set : ',second_Set.var())
print('Standard Variance of Second set :',second_Set.std())
print(' ')

#F test
print('Formula to calcuate F-Test first set varience/second set veriance')
ftest=first_set.var()/second_Set.var()
print('F Test Results :',ftest)
print(' ')

#Calculate the P Values. DO the hypothesis testing 5% significance
#Hypothesis Test
print('Null Hypothesis first_set = Second_Set')
print('Alternative Hypothesis first_set != Second_Set')
print('Assumed hypothesis testing with 5% significance')
print(' ')
alpha = 0.05 
print('Calculate P Value using sci.f.cdf(ftest, len(first_set)-1,len(second_Set)-1)')
p_value = sci.f.cdf(ftest, len(first_set)-1,len(second_Set)-1)

print('P Values is :',p_value)
if p_value > alpha:
    print ('P_Value is more than 5% significance and So')
    print ('Null Hypothesis first_set = Second_Set is Rejected')
else:
    print ('Null Hypothesis first_set = Second_Set is Accepted')

First Set : [10 20 30 40 50]
Mean First Set : 30.0
Variance of First Set :  200.0
Standard Variance of First set : 14.142135623730951

Second Set : [ 5 10 15 20 25]
Mean Second Set : 15.0
Variance of Second Set :  50.0
Standard Variance of Second set : 7.0710678118654755

Formula to calcuate F-Test first set varience/second set veriance
F Test Results : 4.0

Null Hypothesis first_set = Second_Set
Alternative Hypothesis first_set != Second_Set
Assumed hypothesis testing with 5% significance

Calculate P Value using sci.f.cdf(ftest, len(first_set)-1,len(second_Set)-1)
P Values is : 0.896
P_Value is more than 5% significance and So
Null Hypothesis first_set = Second_Set is Rejected